
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Hipervinculo a Editar Roles a traves de Usuarios", "ObtenerUsuariosSectores", "UsuariosSectores")
<br />
@Html.ActionLink("Hipervinculo a Editar Roles de Usuarios a traves de Roles", "ObtenerRoles", "Rol")
