@{
    ViewBag.Title = "Index";
}

<legend>Inicio</legend>
<button class="btn btn-default bottom" title="Roles a Usuarios">
    @Html.ActionLink("Editar Roles a traves de Usuarios", "ObtenerUsuariosSectores", "UsuariosSectores")
    <i class="glyphicon glyphicon-user">
    </i>
</button>
<br />
<br />
<button class="btn btn-default bottom" title="Usuarios a Roles">
    @Html.ActionLink("Editar Roles de Usuarios a través de Roles", "ObtenerRoles", "Rol")
    <i class="glyphicon glyphicon-registration-mark">
    </i>
</button>