@{
    ViewBag.Title = "Inicio";
}

<h1>@ViewBag.Title</h1>
<a class="btn btn-default" title="Roles a Usuarios" href="~/UsuariosSectores/ObtenerUsuariosSectores" >
    Editar Roles a traves de Usuarios
    <i class="glyphicon glyphicon-user">
    </i>
</a>
<br />
<br />
<a class="btn btn-default" title="Roles a Usuarios" href="~/Rol/ObtenerRoles">
    Editar Roles de Usuarios a través de Roles
    <i class="glyphicon glyphicon-registration-mark">
    </i>
</a>